.Wrapper {
  list-style: none;
  box-sizing: border-box;
  padding-left: var(--spacing);
}

.Wrapper.clone {
  display: inline-block;
  pointer-events: none;
  padding: 0;
  margin: 5px 0 0 10px;
}

.Wrapper.clone .TreeItem {
  --vertical-padding: 5px;
  padding-right: 24px;
  border-radius: 4px;
  box-shadow: 0 15px 15px rgba(34, 33, 81, 0.1);
}

.Wrapper.ghost {
  opacity: 0.5;
}

.Wrapper.ghost.indicator {
  opacity: 1;
  position: relative;
  z-index: 1;
}

.Wrapper.ghost.indicator .TreeItem {
  position: relative;
  padding: 0;
  height: 8px;
  border-color: #2389ff;
  background-color: #56a1f8;
}

.Wrapper.ghost.indicator .TreeItem::before {
  position: absolute;
  left: -8px;
  top: -4px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #2389ff;
  background-color: #fff;
}

.Wrapper.ghost.indicator .TreeItem > * {
  opacity: 0;
  height: 0;
}

.TreeItem {
  --vertical-padding: 10px;
  display: flex;
  align-items: center;
  padding: var(--vertical-padding) 10px;
  box-sizing: border-box;
  position: relative;
}

.Text {
  flex: 1;
  padding-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.Count {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #2389ff;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.Collapse {
  padding: 5px;
  transition: background-color 0.2s;
}

.Collapse:hover {
  background-color: var(--action-hover);
}

.Collapse svg {
  transition: transform 250ms ease;
}

.Collapse.collapsed svg {
  transform: rotate(-90deg);
}

.disableInteraction {
  pointer-events: none;
}

.disableSelection .Text,
.disableSelection .Count,
.clone .Text,
.clone .Count {
  user-select: none;
  -webkit-user-select: none;
}
